<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script 
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="jumbotron"><h1>goals</h1></div>
		<hr>
			<div class="col-md-9">
				<ul class="list-group">
					<li class="list-group-item"><a href="/goals/1">goals 1</a></li>
					<li class="list-group-item"><a href="/goals/2">goals 2</a></li>
					<li class="list-group-item"><a href="/goals/3">goals 3</a></li>
					<li class="list-group-item"><a href="/goals/4">goals 4</a></li>
					<li class="list-group-item"><a href="/goals/5">goals 5</a></li>
					<li class="list-group-item"><a href="/goals/6">goals 6</a></li>
					<li class="list-group-item"><a href="/goals/7">goals 7</a></li>
				</ul>
			</div>
		</div>
	</div>

	
</body>
</html>